
* {
    font-family: Arial, Helvetica, sans-serif;
background-color: rgb(20, 55, 138);
font-size: 20px;
box-sizing: border-box;
 }

 .title {
    font-weight: bold;
    color: black;
    background-color: aqua;
    text-align: center;
    font-size: 55px;
    border: 5px black solid;
    width: 650px;
    height: 100px;
    padding: 20px 30px;
    margin: auto;
 }

 .container {
    width: 700px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(2, 192, 255, 0.855);
    border: 3px, black, solid;
    margin: auto;
    margin-top: 50px;
    padding: 3em;
 }

 div > .list {
   background-color: rgba(2, 192, 255, 0.855);
   color: black;
   font-size: 30px;
   margin: auto;
 }